<div class="fade-wrapper">
  <div class="fade"></div>
  <div class="sidebar">
  </div>
</div>

<header class="text-center">
  <%= image_tag 'large_thumbnail', width: 200 %>
</header>

<div class="list-characters">
  <% @people.each do |person| %>
    <div class="character text-center" id="<%= person.id %>">
      <%= image_tag person.ext_id, width: 120 %>
      <div style="width: 100%; text-align: center;">
        <%= person.name %>
      </div>
    </div>
  <% end %>
</div>

<% if @people.blank? %>
  <section class="star-wars">

    <div class="crawl">

      <div class="title">
        <p>Episode IV</p>
        <h1>Instructions before start</h1>
      </div>

      <p>Before starting please run rake populate_db and enjoy the experience</p>
      <p>May the force be with me</p>
    </div>

  </section>
<% end %>

<div class="paginate">
  <%= will_paginate @people %>
</div>